#searchSection {
	margin-top: 24px;
}

#btnLocation {
	padding: 16px 24px;
}

.btnLocation {
	margin: 0 10px;
}

#searchFormInput {
	border: none;
	border-bottom: 1px solid #000;
	background-color: transparent;
	font-size: 16px;
	text-align: center;
	padding: 16px 16px;
}

#searchFormInput:focus {
	border: none;
	background-color: transparent;
}

#searchFormInput:hover {
	border: none;
	border-bottom: solid 1px #000;
	cursor: pointer;
}

.searchFormField {
	margin: 0 18px;
}

#btnSearchCity {
	padding: 16px 24px;
}

.btnSearchCity {
	margin: 0 10px;
}
