.dayForecastHeaderDay {
	font-size: 14px;
	font-weight: 700;
	margin: 12px 0;
}

.dayForecastOutput {
	text-align: center;
	font-size: 12px;
	padding-top: 10px;
}

.dayForecastIco {
	padding: 8px 4px;
}

.dayIco {
	font-size: 28px;
	padding: 0;
}
